# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node_modules
node_modules/

# Build output
dist/
dist-ssr/

# Local env
.env
.env.local
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
